In [38]:
import pandas as pd
import numpy as np
data= pd.read_csv("Missing_Values_Handling/final_train.csv")

In [39]:
data.head()

,Unnamed: 0,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,...,pickup_hour,pickup_minute,drop_year,drop_month,drop_date,drop_hour,drop_minute,seconds,number_of_nights,pickup_day
0,0,189123628,10.5,834,56.0,0.000000,64.0,2019-11-01 00:20:00,2019-11-01 00:34:00,6.86252,...,0,20,2019,11,1,0,34,840,0,4
1,1,189125358,10.5,791,47.0,0.000000,134.0,2019-11-01 00:56:00,2019-11-01 01:09:00,6.88589,...,0,56,2019,11,1,1,9,780,0,4
2,2,189125719,10.5,1087,80.0,0.000000,61.0,2019-11-01 01:08:00,2019-11-01 01:26:00,6.90839,...,1,8,2019,11,1,1,26,1080,0,4
3,3,189127273,10.5,598,271.0,15.663800,68.0,2019-11-01 02:27:00,2019-11-01 02:37:00,6.92570,...,2,27,2019,11,1,2,37,600,0,4
4,4,189128020,10.5,1020,132.0,1.800013,83.0,2019-11-01 03:34:00,2019-11-01 03:51:00,6.87441,...,3,34,2019,11,1,3,51,1020,0,4

In [40]:
del data['Unnamed: 0']

In [41]:
data.columns

Index(['tripid', 'additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup', 'pickup_time',
       'drop_time', 'pick_lat', 'pick_lon', 'drop_lat', 'drop_lon', 'fare',
       'label', 'lat_diff', 'lon_diff', 'distance', 'pickup_year',
       'pickup_month', 'pickup_date', 'pickup_hour', 'pickup_minute',
       'drop_year', 'drop_month', 'drop_date', 'drop_hour', 'drop_minute',
       'seconds', 'number_of_nights', 'pickup_day'],
      dtype='object')

In [42]:
features = ['additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup','number_of_nights', 'pickup_day','fare','distance']

In [43]:
X = data[features]
Y = data.label

In [44]:
from sklearn.model_selection import train_test_split
xTrain, xValid, yTrain, yValid = train_test_split(X, Y,train_size = 0.999, random_state=4)

In [45]:
from sklearn.neural_network import MLPRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn. ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
#model = MLPRegressor(hidden_layer_sizes=(10,5,),activation='logistic',max_iter=200)
model = RandomForestRegressor(n_estimators =12,max_features =7,max_depth =25, min_samples_split=3,min_samples_leaf=2, random_state=0)
model.fit(xTrain,yTrain)

RandomForestRegressor(max_depth=25, max_features=7, min_samples_leaf=2,
                      min_samples_split=3, n_estimators=12, random_state=0)

In [46]:
d_test= pd.read_csv("Missing_Values_Handling/final_test.csv")

In [47]:
d_test.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,...,drop_month,drop_date,drop_hour,drop_minute,number_of_nights,seconds,pickup_day,lat_diff,lon_diff,distance
0,0,0,0,213284604,10.5,924,42,2.4486,148,2020-02-01 00:38:00,...,2,1,0,53,0,900.0,5,-0.05964,0.0090,0.060315
1,1,1,1,213286352,10.5,4249,20,0.0000,91,2020-02-01 01:02:00,...,2,1,2,13,0,4260.0,5,-0.36077,0.0983,0.373922
2,2,2,2,213293973,10.5,1552,255,2.6588,23,2020-02-01 05:02:00,...,2,1,5,28,0,1560.0,5,-0.01606,0.0511,0.053564
3,3,3,3,213294622,10.5,462,16,0.0000,198,2020-02-01 05:30:00,...,2,1,5,38,0,480.0,5,0.02968,-0.0009,0.029694
4,4,4,4,213298687,10.5,814,392,12.3692,69,2020-02-01 07:00:00,...,2,1,7,14,0,840.0,5,0.00907,-0.0216,0.023427

In [48]:
del d_test['Unnamed: 0']

In [49]:
d_test.columns

Index(['Unnamed: 0.1', 'Unnamed: 0.1.1', 'tripid', 'additional_fare',
       'duration', 'meter_waiting', 'meter_waiting_fare',
       'meter_waiting_till_pickup', 'pickup_time', 'drop_time', 'pick_lat',
       'pick_lon', 'drop_lat', 'drop_lon', 'fare', 'pickup_year',
       'pickup_month', 'pickup_date', 'pickup_hour', 'pickup_minute',
       'drop_year', 'drop_month', 'drop_date', 'drop_hour', 'drop_minute',
       'number_of_nights', 'seconds', 'pickup_day', 'lat_diff', 'lon_diff',
       'distance'],
      dtype='object')

In [50]:
features = ['additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup','number_of_nights', 'pickup_day','fare','distance']
X = d_test[features]

In [51]:
predictions = model.predict(X)

In [52]:
len(predictions)

8576

In [53]:
predictions

array([0.93832202, 0.475     , 0.94444444, ..., 0.98840195, 0.97854297,
       0.99581962])

In [56]:
true_predictions = []
ones =0
zeros = 0
for i in range(0,len(predictions)):
    if(predictions[i]>0.7):
        true_predictions.append(1)
        ones=ones+1
    else:
        true_predictions.append(0)
        zeros =zeros+1
ones,zeros

(7969, 607)

In [57]:
import csv
with open('Submissions/submission.csv', 'w+',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['tripid','prediction'])
    for i in range(0,len(true_predictions)):
        
        writer.writerow([d_test.tripid[i],true_predictions[i]])